{% extends "base.html" %}
{% block content %}

<div class="center-box">

<form method="POST">
    {% csrf_token %}

    <h2>Signup</h2>

    {% if error %}
        <p style="color:red; margin-bottom:10px;">{{ error }}</p>
    {% endif %}

    <!-- Username -->
    <label>Username</label>
    <input type="text" name="username" placeholder="Enter username" required>

    <!-- Email -->
    <label>Email</label>
    <input type="email" name="email" placeholder="Enter email" required>

    <!-- Password -->
    <label>Password</label>
    <input type="password" name="password" placeholder="Enter password" required>

    <!-- Confirm Password -->
    <label>Confirm Password</label>
    <input type="password" name="confirm_password" placeholder="Confirm password" required>

    <!-- Hidden role -->
    <input type="hidden" name="role" value="Member">

    <!-- Submit -->
    <button type="submit">Signup</button>

    <p style="margin-top:10px;">
        Already have an account?
        <a href="{% url 'login' %}">Login</a>
    </p>

</form>

</div>

{% endblock %}